@use "../../util" as u;

$modals: feedback, call;
$modals2: feedback, call, mobile-menu;

.modals {
  $parent: &;
  $child: modal;
  &__back {
    transition: opacity 0.15s ease-in-out;
    opacity: 0;
    left: 0;
    top: 0;
    content: "";
    position: fixed;
    height: 100vh;
    width: 100vw;
    pointer-events: none;
    z-index: 0;
    background-color: hsla(0, 0%, 100%, 0.9);
  }

  &__modal {
    z-index: 3;
    position: fixed;
    right: 0;
    top: 0;
    transform: translateX(150%);
    width: min(u.rem(320), 100vw);
    @include u.breakpoint(large) {
      width: u.rem(440);
    }
  }

  @each $modal in $modals2 {
    &--#{$modal} {
      > #{$parent}__back {
        pointer-events: all;
        opacity: 1;
        z-index: 3;
      }
      @if #{$modal}==mobile-menu {
        > #{$parent}__modal--#{$modal} {
          transform: unset;
          left: 0;
          right: unset;
          box-shadow: u.rem(-2) u.rem(0) u.rem(4) rgba(69, 79, 126, 0.02),
            u.rem(16) u.rem(0) u.rem(52) rgba(14, 24, 80, 0.2);
        }
      }
    }

    @if #{$modal}==mobile-menu {
      &__modal--#{$modal} {
        transform: translateX(-100%);
        left: 0;

        @include u.breakpoint(large) {
          width: u.rem(309);
          position: relative;
          transform: unset;
          box-shadow: unset;
          z-index: 1;
        }
      }
    }

    &__#{$child}--#{$modal} {
      box-shadow: u.rem(-2) u.rem(0) u.rem(4) rgba(69, 79, 126, 0.02),
        u.rem(16) u.rem(0) u.rem(52) rgba(14, 24, 80, 0.2);
    }
  }
  @each $modal in $modals {
    &--#{$modal} {
      #{$parent}__#{$child}#{$parent}__#{$child}--#{$modal} {
        transform: unset;
      }
    }
  }
}
