$--swiper-theme-color: #B5B6BC;
$--swiper-pagination-bullet-inactive-color: #DDDDDD;
$--swiper-pagination-bullet-horizontal-gap: 6px;

$--swiper-expose-duration: .5s;

$--color-white-1: #EAEAEA;
$--color-white-2: #f8f8f8;
$--color-white-3: #FFFFFF;

$--color-aquamarine-1: #41F6D7;
$--color-aquamarine-2: #B8FFEC;
$--color-aquamarine-3: #D9FFF5;

$--color-gray-1:#7E7E82;

$--color-black-1:#1B1C21;