@use "../../../util" as u;

.brands {
  border-top: u.rem(1) solid var(--color-aquamarine-3);

  &__title {
    padding: u.rem(16) 0;
    background: linear-gradient(
      210deg,
      var(--color-white-3) 0%,
      var(--color-white-2) 98.61%
    );
  }

  &__swiper {
    margin: 0 u.rem(-16);
    padding-inline: u.rem(16);
    position: relative;

    @include u.breakpoint(small) {
      margin: 0;
      padding: 0;
    }

    &-wrapper {
      margin-bottom: u.rem(14);
    }
  }

  &__content {
    padding-inline: u.rem(38) u.rem(16);

    @include u.breakpoint(xsmall) {
      padding-top: u.rem(24);
    }
  }

  &__button {
    display: none;

    @include u.breakpoint(small) {
      display: flex;
      font-weight: 500;
      font-size: u.rem(16);
      color: var(--color-black-1);
      margin-left: u.rem(-8);
      gap: 0;
    }
  }
}
