.container {
  padding: 0 16px;
  margin: 0 auto;
}


.body {
  display: flex;
  width: 100%;
}

.content {
  width: 100%;
}

.mobile-menu {
  display: flex;
  position: fixed;
  width: 320px;
  height: 100vh;
  min-height: 100%;
  top: 0;
  left: 0;
  transform: translateX(-100%);
  background-color:  $--color-white-2;
  box-shadow: 
  -2px 0px 4px rgba(69, 79, 126, 0.02),
  16px 0px 52px rgba(14, 24, 80, 0.2);
  z-index: 2;
  transition: transform .1s ease-in;
}

.mobile-menu__main {
  flex-grow: 1;
  margin-bottom: 30px;
}

.mobile-menu--active {
  transform: unset;
  transition: transform .3s ease-in;
}

.mobile-menu__content {
  display: flex;
  flex-direction: column;
  overflow-y: auto;
  font-size: 2rem;
  height: 100vh;
  width: 100%;
  padding: 18.7px 24px;
}

.mobile-header {
  display: flex;
  align-items: center;
  gap: 16.7px;
}

.mobile-menu__mobile-header {
  margin-bottom: 46.3px;
}

.navigation__list {
  display: flex;
  flex-direction: column;
  gap: 32px;
  flex-grow: 1;
}

.navigation__item {
  display: flex;
  position: relative;
}

.navigation__link {
  line-height: 2rem;
}

.navigation__item::before {
  position: absolute;
  width: 8px;
  height: 100%;
  top: 0;
  left: -24px;
  transform: translateX(-50%);
  border-radius: 4px;
  background-color: $--color-aquamarine-1; 
}

.navigation__item--active::before {
  content: '';
}

.navigation__item:hover:before {
  content: '';
}

.navigation__item--active .navigation__link {
  color: $--color-gray-1;
}

.navigation__item:hover .navigation__link {
  color: $--color-gray-1;
  transform: translateX(10px);
}

.navigation__item:active .navigation__link {
  transform: unset;
}

.navigation__link {
  text-decoration: none;
  font-size: 16px;
  color: $--color-black-1;
  transition-property: color, transform;
  transition-duration: .15s;
  transition-timing-function: ease-in-out;
}

.button {
  display: flex;
}

.button > img {
  height: 40px;
  width: 40px;
}

.mobile-header__button:last-child {
  flex-grow: 1;
  justify-content: flex-end;
}

.contacts {
  display: flex;
  flex-direction: row;
  gap: 16px;
}

.footer__list {
  margin-bottom: 16px;
}

.langs__radio {
  -webkit-appearance: none;
  appearance: none;
}

.langs__list {
  display: flex;
  gap: 7px;
}

.langs__label {
  font-size: 16px;
  line-height: 1.5rem;
  color: $--color-black-1;
  cursor: pointer;
}

.langs__radio:checked+.langs__label {
  color: $--color-gray-1;
}

.button:hover > .button__label {
  transform: translateX(-2px);
}

.button:active > .button__label {
  transform: translateX(2px);
}

.langs__label:hover {
  padding-bottom: 2px;
  color: $--color-gray-1;
  border-color: $--color-gray-1;
}

.button {
  cursor: pointer;
}

.button > img, .button > .button__label {
  transition-property: transform, opacity;
  transition-duration: .15s;
  transition-timing-function: ease-in-out;
}

.button:hover > img {
  transform: scale(1.05);
  opacity: .8;
}

.button:active > img {
  transform: scale(0.95);
  opacity: 1;
}

.email {
  font-size: 16px;
  line-height: 1.5rem;
  margin-bottom: 12px;
}

.tel {
  font-size: 24px;
  font-weight: bold;
  line-height: 1.3rem;
  margin-bottom: 40px;
}

.footer__link {
  color: $--color-black-1;
}

.footer__link:hover {
  padding-bottom: 2px;
  color: $--color-black-1;
  border-color: $--color-black-1;
}

.footer__link:active {
  padding-bottom: 0;
  color: $--color-black-1;
  border-color: $--color-black-1;
}

.langs__button:active {
  padding-bottom: 0;
  color: $--color-gray-1;
  border-color: $--color-gray-1;  
}


.footer__link, .langs__button {
  border-bottom: 1px solid transparent;
  transition-property: border-color, padding-bottom;
  transition-timing-function: ease-in;
  transition-duration: .1s;
}

/* HEADER */

.header {
  margin-bottom: 19px;
}

.header__up {
  box-shadow: 0 -12px 20px 0 $--color-aquamarine-1;
  padding: 18px 0;
  margin-bottom: 25px;
}

.header__content {
  display: flex;
  align-items: center;
}

.header__info {
  flex-grow: 1;
}

.header__logo {
  position: relative;
  margin-left: 16px;
}


.logo__link {
  display: flex;
  transition: opacity .15s ease-in-out;
}

.logo__link:hover {
  opacity: 0.8;
}

.logo__link:active {
  opacity: unset;
}

.logo__link > img {
  width: 97px;
  height: 51px;
}

.header__logo::after {
  position: absolute;
  right: -18px;
  top: 50%;
  transform: translateY(-50%);
  content: '';
  height: 31px;
  border-radius: 1px;
  width: 2px;
  background-color: $--color-white-1;
  }

.header__menu {
  display: none;
}

.info__list {
  display: flex;
  justify-content: right;
}

.info__list {
  gap: 16px;
}

.button-info, .burger, .logo, .info__item {
  display: flex;
}

.header__h1 {
  font-weight: bold;
  font-size: 26px;
  color: $--color-black-1;
}

.header__down {
  padding: 5px 0;
  position: relative;
}

.header__down::before {
  color: $--color-aquamarine-1;
  content: '';
  left: 0;
  transform: translate(-50%, -50%);
  top: 50%;
  border-radius: 16px;
  height: 100%;
  width: 7px;
  position: absolute;
  background-color: currentColor;
}



.button__label {
  display: none;
  font-size: 16px;
}


/* MAIN */

.main {
  margin-bottom: 30px;
  overflow-x: hidden;
}

.hero__nav {
  margin-bottom: 18px;
}


.services__list {
  position: relative;
  display: flex;
  overflow-x: scroll;
  margin-right: -16px;
  min-width: 100%;
  align-items: center;
}

.hero__nav {
  position: relative;
  margin-right: -16px;
}

.hero__nav::after {
  position: absolute;
  content: '';
  height: 100%;
  width: 100px;
  background-image: linear-gradient(to right, transparent 50%, white);
  right: 0;
  top: 0;
}

.services__list::-webkit-scrollbar {
  display: none;
}

.services__item {
  margin: 5px;
}

.service__link {
  display: block;
  color: black;
  text-decoration: none;
  padding: 9px 15px;
  font-size: 16px;
  white-space: nowrap;
  border-radius: 4px;
  transition: border-color .1s ease-in-out;
  border: 2px solid transparent;
}

.service__link--active, .service__link:hover {
  border-color: $--color-aquamarine-2;
}

.information__description {
  display: flex;
  flex-direction: column;
  overflow: hidden;
  max-height: 106px;
  font-size: 15px;
  line-height: 1.2rem;
  letter-spacing: 0px;
  gap: 20px;
}


.button-read-more {
  display: flex;
  align-items: center;
  gap: 8px;
}

.button-read-more::before {
  content: '';
  background-position: center;
  background-repeat: no-repeat;
  background-image: url("../images/svgs/expand.svg");
  height: 40px;
  width: 40px;
  transition: transform $--swiper-expose-duration ease-in-out;
}

.button-read-more__label {
  margin-left: 8px;
}

.image-info {
  display: flex;
}

.image-info__img {
  border-radius: 10px;
  flex-grow: 1;
}

.information__image {
  margin: 0 -16px;
}

.image-info__picture {
  display: flex;
  flex-grow: 1;
}


.information__content {
  margin-bottom: 16px;
  flex-grow: 1;
}

.h2 {
  color: $--color-gray-1;
  font-size: 16px;
  line-height: 1.5rem;
  font-weight: normal;
  text-transform: uppercase;
}

/* Swiper */

.swiper-pagination {
  position: static;
}

.swiper-pagination-bullet {
  opacity: unset;
}

.swiper-pagination > .swiper-pagination-bullet {
  height: 12px;
  width: 12px;
}

.brands {
  border-top: 1px solid $--color-aquamarine-3;
}

.brands__title {
  padding: 16px 0;
  background: linear-gradient(210deg, $--color-white-3 0%,  $--color-white-2 98.61%);
}

.brands__swiper {
  margin: 0 -16px;
  padding: 0 16px;
  position: relative;
}

.swiper-wrapper {
  position: relative;
}

.swiper-wrapper::after {
  content: '';
  position: absolute;
  width: 24px;
  height: 100%;
  right: -16px;
  top: 0;
  background: linear-gradient(270deg,  $--color-white-2 16.84%, rgba(248, 248, 248, 0.0001) 100%);
}

.brands__content {
  padding: 16px 0 38px 0;
}

.brands__swiper-wrapper {
  margin-bottom: 14px;
}


.brand__content {
  display: flex;
  align-items: center;
  justify-content: space-between;
  border: 1px solid $--color-white-1;
  background-color: $--color-white-3;
  border-radius: 6px;
  padding: 0 16px;
  height: 72px;
}

.brand__content::after {
  transition: transform .1s ease-in-out;
  content: url('../images/svgs/round-arrow.svg');
  width: 40px;
  height: 40px;
}


.brand__content:hover:after {
  transform: translateX(-20%);
}

.brand__content:active:after {
  transform: unset;
}

.icon__svg-lenovo {
  height: 32px;
  width: 108px;
}
.icon__svg-samsung {
  height: 39px;
  width: 116px;
}
.icon__svg-apple {
  height: 44px;
  width: 44px;
}
.icon__svg-view-sonic {
  height: 21px;
  width: 128px;
}
.icon__svg-bosch {
  height: 30px;
  width: 128px;
}
.icon__svg-hp {
  height: 52px;
  width: 52px;
}
.icon__svg-acer {
  height: 24px;
  width: 94px;
}
.icon__svg-sony {
  height: 26px;
  width: 128px;
}

.brands__button {
  display: none;
}

@media screen and (min-width: 500px) {
  /* swiper */

  .brands__swiper {
    margin: 0;
    padding: 0;
  }

  .swiper-pagination {
    display: none;
  }

  .swiper-wrapper::after {
    content: unset;
    transition: height .2s ease-in-out;
  }

  .swiper-wrapper {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 12px 20px;
    transition: max-height .52s ease-in-out;
    max-height: 156px;
    overflow-y: hidden;
  }

  .brands__button {
    display: flex;
    font-weight: 500;
    font-size: 16px;
    color: $--color-black-1;
    margin-left: -8px;
    gap: 0;
  }

  .brand {
    transition: height $--swiper-expose-duration ease-in-out;
  }

  .swiper-wrapper > .brand:nth-child(n+7) {
    height: 0px;
  } 

 .swiper--exposed > .swiper-wrapper {
    max-height: 1200px;
  }

  .swiper--exposed > .swiper-wrapper > .brand:nth-child(n+7) {
    height: 72px;
  } 

  .swiper--exposed + .button-read-more::before {
    transform: rotate(180deg);
  }
  
 }

@media screen and (min-width: 600px) {

  .container {
    padding: 0 24px;
  }

  /* HEADER */


  .header {
    margin-bottom: 26px;
  }

  .header__burger {
    margin-right: 22px;
  }

  .header__logo {
    margin-left: 20px;
  }

  .header__logo::after {
    right: unset;
    left: -22px;
  }

  .header__menu {
    display: flex;
    flex-grow: 1;
    justify-content: right;
    margin-right: 22px;
  }

  .header__info {
    flex-grow: unset;
    margin-left: 20px;
    position: relative;
  }

  .header__info::after {
    position: absolute;
    left: -22px;
    top: 50%;
    transform: translateY(-50%);
    content: '';
    height: 31px;
    border-radius: 1px;
    width: 2px;
    background-color: $--color-white-1;
  }

  .menu__list {
    display: flex;
  }

  .contacts__item {
    display: flex;
  }

  .menu-button {
    display: flex;
  }

  /* MAIN */

  .main {
    margin-bottom: 35px;
  }

  .hero__nav {
    margin-bottom: 27px;
    margin-right: -32px;
  }

  .button-read-more {
    padding: 2px 0 0 1px;
  }

  .information {
    display: flex;
  }

  .information__image {
    margin: 0;
    flex-grow: 1;
  }

  .information {
    gap: 48px;
  }

  .information__p {
    padding-top: 2px;
    line-height: 1.4rem;
    font-size: 14px;
  }

  .information__content {
    flex-basis: 312px;
  }
  
  .information__description {
    gap: 39px;
    max-height: 168px;
  }

  .brands__content {
    padding-top: 24px;
  }
}

@media screen and (min-width: 700px) { 
  /* swiper */
  .swiper-wrapper {
    grid-template-columns: repeat(3, 1fr);
    gap: 16px 24px;
    max-height: 160px;
  }
  
  .swiper--exposed > .swiper-wrapper {
    max-height: 1200px;
  }

}

@media screen and (min-width: 1000px) {

  .big-container {
    max-width: 1120px;
    margin: 0 auto;
  }
  
  .container {
    max-width: 1120px;
    padding: 0 32px;
  }

  .header__burger, .header__logo, .header__menu {
    display: none;
  }

  .header {
    padding-top: 42px;
    margin-bottom: 4px;
  }

  .header__info::after {
    display: none;
  }

  .header__up {
    box-shadow: unset;
    padding: 0;
    margin-bottom: 0;
  }

  .header__box {
    display: flex;
    flex-direction: row-reverse;
    justify-content: space-between;
    align-items: center;
  }

  .button-info__label {
    display: unset;
    font-weight: medium;
    margin-right: 8px;
  }

  .info__button {
    display: flex;
    align-items: center;
    gap: 8px;
  }

  .info__list {
    gap: 32px;
  }

  /* MAIN */

  .services__list {
    flex-wrap: wrap;
    overflow-x: unset;
  }

  .hero__nav {
    margin-bottom: 4px;
  }

  .hero__nav::after {
    content: unset;
  }

  .information__content {
    flex-grow: unset;
    flex-basis: 490px;
  }

  .information__description {
    max-height: 160px;
    margin-bottom: 12px;
  }

  .information {
    gap: 41px;
  }

  .information__image {
    margin-top: -8px;
  }

  .button__label {
    display: block;
  }
  
   /* swiper */

  .swiper-wrapper {
    grid-template-columns: repeat(4, 1fr);
    column-gap: 32px;
  }

 .swiper--exposed > .swiper-wrapper {
    max-height: 1200px;
  }
  
}