@use "../util" as u;

html {
  // background-color: var(--color-gray-3);
}
.container {
  padding-inline: u.rem(16);
  margin-inline: auto;

  @include u.breakpoint(xsmall) {
    padding-inline: u.rem(24);
  }

  @include u.breakpoint(large) {
    max-width: unset;
    padding-inline: u.rem(34);
  }
}

.body {
  display: flex;
  width: 100%;
  max-width: u.rem(1426);
  margin-inline: auto;
  background-color: var(--color-white-2);
}

.content {
  width: 100%;
}
