@use "../util" as u;

.icon {
  &__svg {
    &-lenovo {
      background-position-x: u.rem(502);
      @include u.logosImg(32, 108);
    }

    &-samsung {
      background-position-x: u.rem(671);
      @include u.logosImg(39, 116);
    }

    &-apple {
      background-position-x: u.rem(395);
      @include u.logosImg(44, 44);
    }

    &-view-sonic {
      background-position-x: u.rem(256);
      @include u.logosImg(21, 128);
    }

    &-bosch {
      background-position-x: 0;
      @include u.logosImg(30, 128);
    }

    &-hp {
      background-position-x: u.rem(554);
      @include u.logosImg(52, 52);
    }

    &-acer {
      background-position-x: u.rem(351);
      @include u.logosImg(24, 94);
    }

    &-sony {
      background-position-x: u.rem(927);
      @include u.logosImg(26, 124);
    }
  }
}
