@use "../../../../util" as u;

@mixin grid {
  @include u.breakpoint(small) {
    display: grid;
    grid-template-columns: 33% 20% 1fr min(27%, u.rem(119));
  }
  @include u.breakpoint(xsmall) {
    grid-template-columns: 36% 20% 1fr min(24%, u.rem(119));
  }

  @include u.breakpoint(medium) {
    grid-template-columns: 54% 14% 1fr min(19%, u.rem(119));
  }

  @include u.breakpoint(large) {
    // grid-template-columns: 46.5% 22.5% 13.5% min(17.5%, u.rem(119));
    grid-template-columns: 46.5% 22.5% 1fr min(17.5%, u.rem(119));
  }
}
