@use "../../../../util" as u;

$prices-table: (
  "service": "Ремонтные услуги",
  "price": "Цена",
  "time": "Срок",
);

.td {
  display: flex;
  flex-direction: column;
  font-size: u.rem(14);
  color: var(--color-black-1);
  font-weight: 500;
  @each $class, $title in $prices-table {
    &--#{$class} {
      grid-area: #{$class};
      &::before {
        @include u.tableHeading($title);
        @include u.breakpoint(small) {
          content: none;
        }
      }
    }
  }
  &--button {
    grid-area: button;
  }

  &__link {
    $parent: &;
    display: flex;
    flex-direction: row;
    align-self: flex-end;
    background-color: var(--color-pink-1);
    padding: u.rem(4) u.rem(12);
    border-radius: u.rem(16);
    &--content {
      width: 100%;
      display: flex;
      flex-direction: row;
      align-items: center;
      text-transform: uppercase;
      font-size: u.rem(12);
      font-weight: bold;
      text-decoration: none;
      color: var(--color-white-3);
      &::after {
        display: block;
        content: "";
        height: u.rem(24);
        width: u.rem(24);
        background-image: url("../images/svgs/goside.svg");
        transition: transform 0.15s ease-in-out;
      }
      #{$parent}:hover &::after {
        transform: translateX(u.rem(3));
      }
      #{$parent}:active &::after {
        transform: unset;
      }
    }
  }
}
