@use "../../../../util" as u;
@use "mixins" as m;

.tr {
  padding: u.rem(16);
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-template-areas:
    "service service"
    "price price"
    "time button";
  gap: u.rem(17);
  align-items: center;

  @include m.grid;
  @include u.breakpoint(small) {
    grid-template-areas: "service price time button";
    padding: 0;
    gap: 0;
    padding-block: u.rem(16);
  }
  @include u.breakpoint(large) {
    padding-block: u.rem(17) u.rem(15.5);
  }

  &__button-link {
    padding-inline: u.rem(16);
    gap: u.rem(8);

    @include u.breakpoint(large) {
      gap: u.rem(10);
      padding-inline: u.rem(10);
    }
    @include u.breakpoint(xlarge) {
      gap: u.rem(8);
      padding-inline: u.rem(16);
    }
  }
}
