@use "../../util" as u;

.header {
  margin-bottom: u.rem(18);
  @include u.breakpoint(xsmall) {
    margin-bottom: u.rem(26);
  }
  @include u.breakpoint(large) {
    padding-top: u.rem(42);
    margin-bottom: u.rem(7.5);
  }

  &__up {
    box-shadow: 0 u.rem(-12) u.rem(20) 0 var(--color-aquamarine-1);
    padding: u.rem(17.5) 0;
    margin-bottom: u.rem(25);

    @include u.breakpoint(large) {
      box-shadow: unset;
      padding: 0;
      margin-bottom: 0;
      margin-right: u.rem(31);
    }

    > .container {
      @include u.breakpoint(large) {
        padding: 0;
      }
    }
  }

  &__content {
    display: flex;
    align-items: center;
  }

  &__info {
    flex-grow: 1;
  }

  &__logo {
    display: flex;
    align-items: center;
    gap: u.rem(16);
    margin-left: u.rem(16);

    @include u.breakpoint(xsmall) {
      flex-direction: row-reverse;
      margin-left: 0;
    }

    @include u.breakpoint(large) {
      display: none;
    }

    &::after {
      display: inline-block;
      content: "";
      height: u.rem(31);
      border-radius: u.rem(1);
      width: u.rem(2);
      background-color: var(--color-white-1);
    }

    > a {
      line-height: 0;
    }
  }

  &__menu {
    display: none;
    @include u.breakpoint(xsmall) {
      display: flex;
      flex-grow: 1;
      justify-content: right;
      margin-right: u.rem(22);
    }
    @include u.breakpoint(large) {
      display: none;
    }
  }

  &__h1 {
    font-weight: bold;
    font-size: u.rem(27);
    color: var(--color-black-1);
  }

  &__down {
    padding: u.rem(5) 0;
    position: relative;
    &::before {
      color: var(--color-aquamarine-1);
      content: "";
      left: 0;
      transform: translate(-50%, -50%);
      top: 50%;
      border-radius: u.rem(16);
      height: 100%;
      width: u.rem(7);
      position: absolute;
      background-color: currentColor;
    }
  }

  &__button {
    &--burger {
      @include u.breakpoint(xsmall) {
        margin-right: u.rem(24);
      }
      @include u.breakpoint(large) {
        display: none;
      }
    }
  }

  &__info {
    @include u.breakpoint(xsmall) {
      flex-grow: unset;
      margin-left: u.rem(20);
      position: relative;
    }

    &::after {
      display: none;
      position: absolute;
      left: u.rem(-22);
      top: 50%;
      transform: translateY(-50%);
      content: "";
      height: u.rem(31);
      border-radius: u.rem(1);
      width: u.rem(2);
      background-color: var(--color-white-1);

      @include u.breakpoint(xsmall) {
        display: block;
      }
      @include u.breakpoint(large) {
        display: none;
      }
    }
  }

  &__box {
    @include u.breakpoint(large) {
      display: flex;
      flex-direction: row-reverse;
      justify-content: space-between;
      align-items: center;
    }
  }
}
