@use "../../../util" as u;

.services {
  position: relative;

  &__list {
    display: flex;
    overflow-x: scroll;
    margin-right: u.rem(-16);
    min-width: 100%;
    align-items: center;

    @include u.breakpoint(large) {
      flex-wrap: wrap;
      overflow-x: unset;
      margin-right: 0;
    }

    &::-webkit-scrollbar {
      display: none;
    }
  }

  &__item {
    margin: u.rem(5);
    @include u.breakpoint(large) {
      margin: 0;
    }
  }
}
