@use "../../util" as u;

.footer {
  padding-top: u.rem(17);
  @include u.breakpoint(small) {
    padding-block: u.rem(32) u.rem(24);
  }
  &__content,
  &__content > * {
    font-weight: 500;
    color: var(--color-gray-1);
  }
  &__content {
    display: flex;
    flex-direction: column;
    gap: u.rem(16);
    font-size: u.rem(14);
    align-items: center;
    text-align: center;

    @include u.breakpoint(small) {
      align-items: flex-start;
      flex-direction: row;
      & > * {
        flex-basis: 33%;
      }
    }
  }

  &__info {
    @include u.breakpoint(small) {
      text-align: left;
    }
    > strong {
      font-weight: 500;
    }
  }
  &__link {
    @include u.breakpoint(small) {
      text-align: center;
    }
    @include u.breakpoint(large) {
      text-align: left;
    }
    border-bottom: 1px solid currentColor;
    color: var(--color-gray-1);
    transition: padding-bottom 0.1s ease-in-out;
    &:hover {
      padding-bottom: u.rem(2);
    }
    &:active {
      padding-bottom: 0;
    }
  }
  &__public {
    @include u.breakpoint(small) {
      text-align: right;
    }
    & > strong {
      font-weight: 500;
    }
  }
}
