@use "../../util" as u;

.hero {
  margin-bottom: u.rem(24);

  @include u.breakpoint(small) {
    margin-bottom: u.rem(30);
  }

  @include u.breakpoint(large) {
    margin-bottom: u.rem(53);
  }

  &__heading {
    position: absolute;
    visibility: hidden;
  }

  &__nav {
    margin-bottom: u.rem(18);
    position: relative;
    margin-inline: u.rem(-16);

    @include u.breakpoint(xsmall) {
      margin-bottom: u.rem(25);
      margin-inline: u.rem(-32);
    }

    @include u.breakpoint(large) {
      margin-bottom: u.rem(8);
      margin-inline: 0;
    }

    &::after {
      position: absolute;
      content: "";
      height: 100%;
      width: u.rem(24);
      background: linear-gradient(
        270deg,
        var(--color-white-2) 16.84%,
        hsla(0, 0%, 97%, 0) 100%
      );
      right: 0;
      top: 0;

      @include u.breakpoint(large) {
        content: unset;
      }
    }
  }
}
