@use "../../util" as u;

.information {
  @include u.breakpoint(xsmall) {
    display: flex;
    gap: u.rem(48);
  }

  @include u.breakpoint(large) {
    gap: u.rem(41);
  }

  &__description {
    display: flex;
    flex-direction: column;
    overflow: hidden;
    max-height: u.rem(98);
    font-size: u.rem(15);
    line-height: u.rem(18);
    letter-spacing: 0;
    gap: u.rem(20);
    transition: max-height 0.5s ease-in;

    @include u.breakpoint(small) {
      max-height: u.rem(162);
    }

    &--exposed {
      max-height: u.rem(999);

      & + .button-read-more::before {
        transform: rotate(180deg);
      }
    }
  }

  &__button {
    transform: translateX(u.rem(-8));
    gap: 0;
  }

  &__image {
    margin-inline: u.rem(-16);

    @include u.breakpoint(xsmall) {
      margin: 0;
      flex-grow: 1;
    }

    @include u.breakpoint(large) {
      margin-top: u.rem(-8);
    }
  }

  &__content {
    margin-bottom: u.rem(8);
    flex-grow: 1;

    @include u.breakpoint(xsmall) {
      flex-basis: u.rem(312);
    }

    @include u.breakpoint(large) {
      flex-grow: unset;
      flex-basis: 46%;
    }
  }

  &__p {
    @include u.breakpoint(xsmall) {
      padding-top: u.rem(2);
      line-height: u.rem(20);
      font-size: u.rem(14);
    }
  }

  &___description {
    @include u.breakpoint(xsmall) {
      gap: u.rem(39);
      max-height: u.rem(168);
    }

    @include u.breakpoint(large) {
      max-height: u.rem(160);
      margin-bottom: u.rem(12);
    }
  }
}
