@use "../../util" as u;

.main {
  margin-bottom: u.rem(47);
  overflow: hidden;

  @include u.breakpoint(xsmall) {
    margin-bottom: u.rem(35);
    @include u.breakpoint(small) {
      margin-bottom: u.rem(47);
    }
    @include u.breakpoint(large) {
      margin-bottom: u.rem(50);
    }
  }
}
